<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Churn prediction</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

  </head>

  <body class="text-center">
    <div class="container">
      <div class="row h-100">
        <div class="col-sm-12 my-auto">
          <div class="login">
            <div class="logo">
            <svg viewBox="0 0 287 279" preserveAspectRatio="xMidYMid meet" data-bbox="13 15 261 250" overflow="hidden" xmlns="http://www.w3.org/2000/svg" height="279" width="287" data-type="ugc" role=presentation aria-hidden=true aria-labelledby="svgcid-20miqyx424wc"><title id="svgcid-20miqyx424wc"></title>
                <g>
                    <defs>
                        <clipPath id="svgcid--nbouc0-h57lcd">
                            <path d="M1147 194v279H860V194h287z"/>
                        </clipPath>
                    </defs>
                    <g transform="translate(-860 -194)" clip-path="url(#svgcid--nbouc0-h57lcd)">
                        <path fill="none" stroke-miterlimit="8" stroke-width="24" stroke="#000000" d="m930 334 57 28.5v68L930 459l-57-28.5v-68z"/>
                        <path fill="none" stroke-miterlimit="8" stroke-width="24" stroke="#000000" d="m1003 209 57 28.5v68l-57 28.5-57-28.5v-68z"/>
                        <path fill="none" stroke-miterlimit="8" stroke-width="24" stroke="#000000" d="m1077 334 57 28.5v68l-57 28.5-57-28.5v-68z"/>
                    </g>
                </g>
            </svg>
          </div>
            <div class="brand"><img src="{{ url_for('static', filename='img/logo-lifetime-analytics.webp') }}" alt="Lifetime Analytics logo" /></div>
            <h1>Churn Predictor</h1>

            <form id="get_pred" action="{{ url_for('upload_file')}}" method="post" enctype=multipart/form-data>
              <input type=file name=file>
              <button
                id="submit"
                type="submit"
                class="btn btn-primary btn-block btn-large"
              >
                Envoyer
              </button>
            </form>
            </div>
            <div id="warning">{{ warning }} </div>
            <div id="prediction">
              <table>
                <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
                    {% for row in row_data %}
                <tr>
                  {% for col, row_ in zip(column_names, row) %}
                  <td>{{row_}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
            
            </table>
            </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</html>
